<ul class="burgers-list">
	{{burger_name}}

	<button class="btn devour-burger" data-id="{{id}}" data-devourburger="{{devour}}">
		{{#unless devoured}}Devour{{else}}Burgers{{/unless}}
	</button>
</ul>
