<li class="burgers-list">
	{{burger_name}}

	<button class="devour-burger" data-id="{{id}}" data-devourburger="{{devour}}">
		{{#unless devoured}}Devour Burger{{else}}Burgers{{/unless}}
	</button>
</li>
