body {
  background-color: #f79d65;
}

.container {
  align-items: center;
}

#burgers-list-col, #devouredBurgers-list {
  background-color: #adcfff;
  width: auto;
  max-width: 400px;
  border-radius: 5px;
  border: black solid 2px;
  margin: 10px;
  line-height: 30px;
  font-family: 'Turret Road', cursive;
}

h1{
  font-family: 'Grandstander', cursive;
  font-size: 80px;
  text-align: center;
}

h2{
  text-align: center;
  font-family: 'Turret Road', cursive;
}

form {
  align-self: center;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'Turret Road', cursive;
}

.btn {
  color: #f79d65;
  background-color: black;
  border-radius: 4px;
  border: solid #f79d65 2px;
  box-shadow: black;
  font-family: 'Turret Road', cursive;
}

ul {
  font-family: 'Turret Road', cursive;
}

.btn:hover {
  opacity: .75;
}

.blank-space {
  color: #f79d65;
  min-width: 33%;
}